{% extends 'dairyapp/base.html' %}
{% load static %}

{% block main-content %}
<h1>WELCOME TO HOMEPAGE</h1>

    <div class="row">
        <div class="col-lg-3">
            <div class="info-box blue-bg">
              <i class="fa fa-circle"></i>
              <div class="count">555 ltr.</div>
              <div>Milk(दुध) Stock</div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="info-box weather-bg">
              <i class="fa fa-circle"></i>
              <div class="count">5 kg</div>
              <div>Ghee(घिउ) Stock</div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="info-box blue-bg">
              <i class="fa fa-circle"></i>
              <div class="count">10 kg</div>
              <div>Panir(पनिर) Stock</div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1>TOTAL SALES ACTIVITY</h1>
        </div>


    </div>

{% endblock %}