{% extends 'dairyapp/base.html' %}
{% load static %}

{% block extra-css %}
    <style>
        .myfont{
            font-size: 18px;


        }
    </style>

{% endblock %}
{% block main-content %}
    <div class="row myfont">
        <div class="col-lg-4">
            <h2>Buy Milk दुध खरिद</h2>

            <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_table }}
                    <input type="submit" value="OK">
                </div>
            </form>

        </div>

        <div class="col-lg-8">
            <h2>Today's Milk Purchase आजको दुध खरिद</h2>


            <!-- Milk Purchase list for today -->
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr class="info">
                    <th>#</th>
                    <th>Seller</th>

                    <th>Milk Type</th>
                    <th>QTY (ltr)</th>
                    <th>Rate</th>
                    <th>Total Amount (NRs)</th>
                  </tr>
                </thead>
                <tbody class="active">
                  <tr>
                    <td>1</td>
                    <td>Namuna Krishak Samuha</td>
                    <td>Cow</td>
                    <td>35</td>
                    <td>59</td>
                    <td>2065</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Argha Krishak Samuha</td>
                    <td>Buffalo</td>
                    <td>30</td>
                    <td>55</td>
                    <td>1650</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>XYZ Krishak Samuha</td>
                    <td>Buffalo</td>
                    <td>30</td>
                    <td>55</td>
                    <td>1650</td>
                  </tr>

                  <tr>
                    <td>4</td>
                    <td>Nepal Krishak Samuha</td>
                    <td>Buffalo</td>
                    <td>30</td>
                    <td>55</td>
                    <td>1650</td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td>Naya Krishak Samuha</td>
                    <td>Buffalo</td>
                    <td>30</td>
                    <td>55</td>
                    <td>1650</td>
                  </tr>

                {% for purchase in milk %}
                    <tr>
                        <td>#</td>
                        <td>{{purchase.seller  }}</td>
                        <td>{{purchase.mPurchase_product}}</td>
                        <td>{{purchase.mPurchase_qty}}</td>
                        <td>{{purchase.mPurchase_rate}}</td>
                        <td></td>
                    </tr>

                {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra-js %}


{% endblock %}