{% extends 'dairyapp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extra-css %}

    <style>
    .myclass{
        font-size:large;
    }
    .myclass:hover{
        font-weight:bold;
    }
    </style>
{% endblock %}

{% block main-content %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h2><strong>Operational Costs</strong></h2>

            <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.non_field_errors }}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}

                        {% endfor %}
                    </div>
                {% endif %}

                {% for field in form %}

                    <div class="form-group">

                        {{ field.label_tag }}
                        {% if form.is_bound %}
                            {% if field.errors %}

                                {% render_field field class="form-control is-invalid"%}

                                {% for error in field.errors %}
                                    <div class="invalid-feedback text-danger">
                                         {{ error }}
                                    </div>
                                {% endfor %}

                            {% else %}
                                   {% render_field field class="form-control is-valid" %}
                            {% endif %}

                        {% else %}
                               {% render_field field class="form-control" %}
                        {% endif %}

                    {% if field.help_text %}

                        <small class="form-text text-primary">{{ field.help_text }}</small>
                    {% endif %}

                    </div>
                {% endfor %}



                <div class="form-group">
                    <div class="col-sm-12" onclick="if (!confirm('Do you want to confirm?')) { return false }">
                         <button type="submit" class="btn btn-primary btn-block"><strong>Submit</strong></button>
                    </div>
                 </div>

                {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                         <a class="close" href="#" data-dismiss="alert">×</a>
                        <li class="text-danger">{{ message }}</li>
                        </div>
                    {% endfor %}
                  </ul>
                {% endif %}


        </div>

        <div class="col-lg-7">
            <h2><strong>Showing top 10 Operational Costs</strong></h2>
            <table class="table table-striped table-hover">
                    <thead>
                      <tr class="info">
                        <th>Date</th>
                        <th>Particulars</th>
                        <th>Quanity</th>
                        <th> Rate</th>
                        <th>Total Amount(NRs)</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody class="active">
                    {% for op in operations %}
                      <tr class="myclass">
                        <td>{{ op.date |date:"Y-m-d" }}</td>
                        <td>{{ op.particular }}</td>
                        <td>{{ op.qty }}</td>
                        <td>{{ op.rate }}</td>
                        <td>{{ op.amount }}</td>
                          <td onclick="if (!confirm('Do you want to confirm?')) { return false }">
                              <a href="{% url 'dairyapp:delete-operation-cost' id=op.operationCost_id %}" class="btn btn-primary">
                                <strong>Delete</strong>
                            </a>
                          </td>
                      </tr>
                    {% endfor %}

                    </tbody>
            </table>

            {% if operations.has_other_pages %}
            <ul class="pagination">
                {% if operations.has_previous %}
                    <li>
                        <a href="?page={{ operations.previous_page_number }}">&laquo;</a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <span>&laquo;</span>
                    </li>
                {% endif %}
                {% for i in operations.paginator.page_range %}
                    {% if operations.number == i %}
                        <li class="active">
                            <span>{{ i }}
                            <span class="sr-only">(current)</span>
                            </span>
                        </li>
                    {% else %}
                        <li>
                            <a href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if operations.has_next %}
                    <li>
                        <a href="?page={{ operations.next_page_number }}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <span>&raquo;</span>
                    </li>
                {% endif %}

            </ul>
            {% endif %}


        </div>

    </div>


{% endblock main-content %}

{% block extra-js %}
    <script>
    //script for nepali calendar integration

        $('#nepalicalendar').nepaliDatePicker({
            onFocus:false,
            ndpTriggerButton: true,
            ndpTriggerButtonText: 'Date',
            npdMonth:true,
            npdYearCount:10,
            ndpTriggerButtonClass: 'btn btn-primary btn-sm',
            /*disableBefore:'03/05/2075', //MM/DD/YYYY */
            disableDaysAfter:'1'

        });


    </script>
{% endblock %}