{% extends 'dairyapp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extra-css %}
<style>
    .myclass{
        font-size:large;
    }
    .myclass:hover{
        font-weight:bold;
    }
</style>

{% endblock %}

{% block main-content %}
    <div class="row">

        <div class="col-lg-4 col-lg-offset-1">
            <h2><strong>Sell Products सामन बिक्री</strong></h2>

            <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.non_field_errors }}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}

                        {% endfor %}
                    </div>
                {% endif %}

                {% for field in form %}

                    <div class="form-group">

                        {{ field.label_tag }}
                        {% if form.is_bound %}
                            {% if field.errors %}

                                {% render_field field class="form-control is-invalid"%}

                                {% for error in field.errors %}
                                    <div class="invalid-feedback text-danger">
                                         {{ error }}
                                    </div>
                                {% endfor %}

                            {% else %}
                                   {% render_field field class="form-control is-valid" %}
                            {% endif %}

                        {% else %}
                               {% render_field field class="form-control" %}
                        {% endif %}

                    {% if field.help_text %}

                        <small class="form-text text-primary">{{ field.help_text }}</small>
                    {% endif %}

                    </div>
                {% endfor %}



                <div class="form-group">
                    <div class="col-sm-12">
                         <button type="submit" class="btn btn-primary btn-block"><strong>Submit</strong></button>
                    </div>
                 </div>

                {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                         <a class="close" href="#" data-dismiss="alert">×</a>
                        <li class="text-danger">{{ message }}</li>
                        </div>
                    {% endfor %}
                  </ul>
                {% endif %}
            </form>


        </div>
        <div class="col-lg-7">
            <h2><strong>Showing 10 Latest Sales</strong></h2>


            <table class="table table-striped table-hover table-responsive">
                    <thead>
                      <tr class="bg-success">
                        <th>Date</th>
                        <th>Buyer Name</th>
                        <th>Product</th>
                        <th>Quanity</th>
                        <th> Rate</th>
                        <th>Total Amount(NRs)</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody class="active">
                        {% for sale in sales %}
                          <tr class="myclass">
                            <td>{{ sale.mProductSell_date|date:"Y-m-d" }}</td>
                            <td>{{ sale.buyer_name }}</td>
                            <td>{{ sale.milk_product }}</td>
                            <td>{{ sale.mProductSell_qty }} {{ sale.mProductSell_qtyunit }}</td>
                            <td>{{ sale.mProductSell_rate }}</td>
                            <td>{{ sale.mProductSell_amount }}</td>
                              <td onclick="if (!confirm('Do you want to confirm?')) { return false }">
                                  <a href="{% url 'dairyapp:delete-sales' id=sale.mProductSell_id %}" class="btn btn-primary">
                                    <strong>Delete</strong>
                                </a>
                              </td>
                          </tr>
                        {% endfor %}

                    </tbody>
            </table>


            {% if sales.has_other_pages %}
                <ul class="pagination">
                    {% if sales.has_previous %}
                        <li>
                            <a href="?page={{ sales.previous_page_number }}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <span>&laquo;</span>
                        </li>
                    {% endif %}
                    {% for i in sales.paginator.page_range %}
                        {% if sales.number == i %}
                            <li class="active">
                                <span>{{ i }}
                                <span class="sr-only">(current)</span>
                                </span>
                            </li>
                        {% else %}
                            <li>
                                <a href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if sales.has_next %}
                        <li>
                            <a href="?page={{ sales.next_page_number }}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <span>&raquo;</span>
                        </li>
                    {% endif %}

                </ul>
            {% endif %}


        </div>
    </div>

{% endblock %}

{% block extra-js %}
 <script>
    //script for nepali calendar date integration

        $('#nepalicalendar').nepaliDatePicker({
            onFocus:false,
            ndpTriggerButton: true,
            ndpTriggerButtonText: 'Date',
            npdMonth:true,
            npdYearCount:10,
            ndpTriggerButtonClass: 'btn btn-primary btn-sm',
            /*disableBefore:'03/05/2075', //MM/DD/YYYY */
            disableDaysAfter:'1'

        });


</script>

{% endblock %}